<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Admin | LibraryApp</title>
    <head th:replace="fragments/general :: css"></head>

</head>

<body>
    <div th:replace="fragments/admin :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/admin :: sidebar"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2 mt-1">Dashboard</h1>
                <hr>


            </main>
        </div>
    </div>

    <body th:replace="fragments/general :: js"></body>
</body>

</html>