<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unavailable Books | LibraryApp</title>

    <head th:replace="fragments/general :: css"></head>
</head>

<body>

    <div th:replace="fragments/admin :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/admin :: sidebar"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2 mt-1">Unavailable Books</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered caption-top table-hover" id="bookListTable">
                            <caption>List of Unavailable books</caption>
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th><span data-feather="book"></span> Title</th>
                                    <th><span data-feather="at-sign"></span> Author</th>
                                    <th><span data-feather="eye"></span> Availablity</th>
                                    <th><span data-feather="calendar"></span> Published Year</th>
                                    <th><span data-feather="activity"></span> Actions</th>
                                </tr>
                            </thead>
                            <tbody th:each="book,loop : ${books}">
                                <tr>
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${book.title}"></td>
                                    <td th:text="${book.author}"></td>
                                    <td>
                                        <span class="badge bg-info" th:if="${book.available}">Available</span>
                                        <span class="badge bg-secondary"
                                            th:unless="${book.available}">Unavailable</span>
                                    </td>
                                    <td th:text="${book.publishedYear}"></td>
                                    <td>
                                        <!-- <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-primary btn-sm"><span
                                                    data-feather="edit-3"></span> Edit</button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                th:attr="onclick=|deleteBook('${book.uid}')|"><span
                                                    data-feather="trash-2"></span> Delete</button>
                                        </div> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <body th:replace="fragments/general :: js"></body>
    <script>

        function deleteBook(uid) {
            const postRequestOptions = {
                method: 'POST'
            };
            fetch(apiServerUrl + "/admin/delete-book?uid=" + uid, postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    showTopSuccessNotificationWithMessageAndAutoReload("Book Deleted successfully")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to delete book. Try again")
                })
        }

        function getAllBooks() {
            const getRequestOptions = {
                method: 'GET'
            };
            fetch(apiServerUrl + "/get-all-books", getRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    console.log(data)
                    parseDataToTable(data);
                    // showTopSuccessNotificationWithMessageAndAutoReload("Book Deleted successfully")
                })
                .catch(() => {
                    // showTopErrorNotificationWithMessage("Unable to delete book. Try again")
                })
        }

        function parseDataToTable(books) {

            var tableRef = document.getElementsByTagName("table")[0].tBodies[0]

            books.forEach(function (book, index) {
                // var newRow = tableRef.insertRow(0);
                // var sno = newRow.insertCell(0)
                // var title = newRow.insertCell(1)
                // var author = newRow.insertCell(2)
                // var availablity = newRow.insertCell(3)
                // var publishedYear = newRow.insertCell(4)
                // var actions = newRow.insertCell(5)
                var sno;
                var title;
                var author;
                var availablity;
                var publishedYear;
                var actions;

                // sno= (index + 1)
                // title.innerText = book.title
                // author.innerText = book.author
                // publishedYear.innerText = book.publishedYear
                // if (book.available) {
                //     availablity.innerHTML = `<span class="badge bg-info">Available</span>`
                // } else {
                //     availablity.innerHTML = `<span class="badge bg-secondary">Unavailable</span>`
                // }

                // actions.innerHTML = `<div class="btn-group" role="group" aria-label="Admin Operations">
                //                             <button type="button" class="btn btn-primary btn-sm"><span data-feather="edit-3"></span> Edit</button>
                //                             <button type="button" class="btn btn-danger btn-sm"><span data-feather="trash-2"></span> Delete</button>
                //                             </div>`;

                sno = `<td>${index + 1}</td>`
                title = `<td>${book.title}</td>`
                author = `<td>${book.author}</td>`
                publishedYear = `<td>${book.publishedYear}</td>`
                if (book.available) {
                    availablity = `<td><span class="badge bg-info">Available</span></td>`
                } else {
                    availablity = `<td><span class="badge bg-secondary">Unavailable</span></td>`
                }

                actions = `<td><div class="btn-group" role="group" aria-label="Admin Operations">
                            <a href="${serverUrl + "/admin/edit-book?uid=" + book.uid}" class="btn btn-primary btn-sm"><span data-feather="edit-3"></span> Edit</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteBook('${book.uid}')"><span data-feather="trash-2"></span> Delete</button>
                            </div></td>`;
                $("#bookListTable tbody").append(`<tr>${sno + title + author + availablity + publishedYear + actions}</tr>`);
            });



        }
        // getAllBooks()

    </script>
</body>

</html>