<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users Book Request | LibraryApp</title>
    <head th:replace="fragments/general :: css"></head>
</head>

<body>
    <div th:replace="fragments/admin :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/admin :: sidebar"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2 mt-1">View Users</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered caption-top table-hover">
                            <caption>List of Book Access Request</caption>
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th><span data-feather="book"></span> Title</th>
                                    <th><span data-feather="at-sign"></span> Requested By</th>
                                    <th><span data-feather="activity"></span> Actions</th>
                                </tr>
                            </thead>
                            <tbody th:each="request,loop : ${requestList}">
                                <tr>
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${request.title}"></td>
                                    <td th:text="${request.requestedBy}"></td>
                                    <td>
                                        <button class="btn btn-sm btn-success"
                                            th:attr="onclick=|allowAccess('${request.bookId}')|">Allow Access</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <body th:replace="fragments/general :: js"></body>
    <script>

        function allowAccess(uid) {
            const postRequestOptions = {
                method: 'POST'
            };
            fetch(apiServerUrl + "/admin/allow-book-access?uid=" + uid, postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    showTopSuccessNotificationWithMessageAndAutoReload("Access granted to the book")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to grant access. Try again")
                })
        }
    </script>
</body>

</html>