<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users | Admin</title>

    <head th:replace="fragments/secure :: css"></head>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav th:replace="fragments/secure-content :: sidebar"></nav>
        <!-- Page Content  -->
        <div id="page-content">
            <!-- Header -->
            <nav th:replace="fragments/secure-content :: header"></nav>
            <!-- Main Content -->
            <div id="main-content" class="mx-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="max-width: 25rem;">
                            <div class="card-body">
                                <div class="text-center position-absolute top-0 start-50 translate-middle">
                                    <img src="/images/icon.png" class="w-50" alt="library app logo">
                                </div>
                                <h5 class="card-title text-center cs-mt-5">Reset password</h5>
                                <h6 class="card-subtitle text-muted my-1 text-center">Enter your account email address or username.</h6>
                                <form action="#" method="POST" class="mt-3 row">
                                    <div class="col-12 mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="username-or-email-id"
                                                placeholder="Eg: suresh_kumar_a" name="username-or-email-id" autofocus>
                                            <label class="h6 card-subtitle" for="username-or-email-id">Username / Email-Id</label>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn cs-btn-sign-in font-monospace fw-bold text-uppercase" 
                                        type="button" onclick="validateData()">Reset Password</button>
                                    </div>
                                </form>
                                <hr>
                                <div class="d-grid">
                                    <a href="/global/login" class="btn btn-outline-secondary font-monospace fw-bold text-uppercase">Return to Sign In</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

   <body th:replace="fragments/secure :: js"></body>
    
</body>

</html>