<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users | Admin</title>

    <head th:replace="fragments/secure :: css"></head>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav th:replace="fragments/secure-content :: sidebar"></nav>
        <!-- Page Content  -->
        <div id="page-content">
            <!-- Header -->
            <nav th:replace="fragments/secure-content :: header"></nav>
            <!-- Main Content -->
            <div id="main-content" class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title">List Users</h4>
                                    <div class="dropdown">
                                        <button class="btn btn-light me-1" type="button" id="userListOptions"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="userListOptions">
                                            <li><a class="dropdown-item" href="#">
                                                    <i class="fa-solid fa-upload"></i>
                                                    <span class="mx-1 text-primary">Import</span>
                                                </a>
                                            </li>
                                            <hr class="dropdown-divider">
                                            <li><a class="dropdown-item" href="#">
                                                    <i class="fa-solid fa-download"></i>
                                                    <span class="mx-1 text-success">Export</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6 class="card-subtitle text-muted">You can view/edit/lock/reset account from here</h6>
                                <hr>
                                <table class="table">
                                    <thead class="bg-secondary text-white">
                                        <th>Sno</th>
                                        <th>Username</th>
                                        <th>Email Id</th>
                                        <th>Display Name</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user,loop: ${userList}">
                                            <td th:text="${loop.count}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="User Actions">
                                                    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" title="View">
                                                        <i class="fa-solid fa-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn cs-btn-info" data-bs-toggle="tooltip" title="Edit">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" title="Delete">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </button>
                                                  </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body th:replace="fragments/secure :: js"></body>

</body>

</html>