<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Books | LibraryApp</title>

    <head th:replace="fragments/general :: css"></head>
</head>

<body>
    <div th:replace="fragments/admin :: header"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/admin :: sidebar"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 class="h2 mt-1">View Books</h1>
                <hr>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered caption-top table-hover" id="bookListTable">
                            <caption>List of books</caption>
                            <thead class="bg-light">
                                <tr>
                                    <th>#</th>
                                    <th><span data-feather="book"></span> Title</th>
                                    <th><span data-feather="at-sign"></span> Author</th>
                                    <th><span data-feather="eye"></span> Availablity</th>
                                    <th><span data-feather="calendar"></span> Published Year</th>
                                    <th><span data-feather="activity"></span> Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tbody th:each="book,loop : ${bookList}">
                                <tr>
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${book.title}"></td>
                                    <td th:text="${book.author}"></td>
                                    <td>
                                        <span class="badge bg-info" th:if="${book.available}">Available</span>
                                        <span class="badge bg-secondary"
                                            th:unless="${book.available}">Unavailable</span>
                                    </td>
                                    <td th:text="${book.publishedYear}"></td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="admin actions">
                                            <button type="button" class="btn btn-primary btn-sm"><span
                                                    data-feather="edit-3"></span> Edit</button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                                th:attr="onclick=|deleteBook('${book.uid}')|"><span
                                                    data-feather="trash-2"></span> Delete</button>
                                        </div>

                                        <a type="button" class="btn btn-success btn-sm fw-bold"
                                            th:href="'/api/v1/read-book?uid='+ ${book.uid}">Read Book
                                            <i class="fas fa-external-link-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <body th:replace="fragments/general :: js"></body>
    <script>

        function deleteBook(uid) {
            const postRequestOptions = {
                method: 'POST'
            };
            fetch(apiServerUrl + "/admin/delete-book?uid=" + uid, postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    showTopSuccessNotificationWithMessageAndAutoReload("Book Deleted successfully")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to delete book. Try again")
                })
        }
    </script>
</body>

</html>