<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <head th:replace="fragments/general :: css"></head>
</head>

<body class="cs-bg">
    <div class="d-flex justify-content-center align-items-center custom-full-height">
        <!-- Login Form Card | Start -->
        <div class="card" style="max-width: 30rem;">
            <div class="row g-0">
                <div class="col">
                    <div class="card-body">
                        <div class="text-center position-absolute top-0 start-50 translate-middle">
                            <img src="/images/icon.png" class="w-50" alt="library app logo">
                        </div>
                        <h5 class="card-title text-center mt-5">Secret code</h5>
                        <h6 class="card-subtitle text-muted my-1 text-center">Enter your MFA code.</h6>
                        <form action="#" method="POST" class="mt-3 row">
                            <div class="col-12 mb-3">
                                <div class="row">
                                    <div class="col" th:each="i: ${#numbers.sequence(1, numOfBox)}">
                                        <input type="text" class="form-control fs-1" autofocus maxlength="1">
                                    </div>
                                </div>
                            </div>
                            <h6 class="card-text mb-3">
                                Note: <span class="text-muted">Enter the code that you received</span>
                            </h6>
                            <div class="d-grid">
                                <button class="btn btn-success font-monospace fw-bold text-uppercase" 
                                type="button" onclick="validateData()"><i class="fa-solid fa-circle-check"></i> Verify</button>
                            </div>
                            <hr>
                            <h6 class="card-text">Didn't receive the code?
                                <a href="/global/login" class="card-link">Resend</a>
                            </h6>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form Card | End -->
    </div>

    <body th:replace="fragments/general :: js"></body>

    <script>
        function validateData() {
            let codes = document.getElementsByTagName("input")
            let inputCode = '';
            let isCodeValid = true;
            for(let i=0;i<codes.length;i++){
                codes[i].classList.remove("cs-is-valid", "cs-is-invalid");
                if(onlyAlphaNumeric(codes[i].value)){
                    codes[i].classList.add("cs-is-valid");
                    inputCode = inputCode.concat(codes[i].value);
                }else{
                    codes[i].classList.add("cs-is-invalid");
                    isCodeValid = false;
                }
            }

            if(!isCodeValid){
                return;
            }

            // Continue with secret code verify
            var user = {};
            user.code = inputCode;

            const postRequestOptions = {
                method: 'POST',
                headers: new Headers({ 'content-type': 'application/json' }),
                body: JSON.stringify(user)
            };
            fetch(apiServerUrl + "/mfa/verify-code", postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    console.log(data);
                    showTopSuccessNotificationWithMessage("Code Verified. Redirecting...")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to verify code. Try again")
                })
        }
   
    </script>
</body>

</html>