<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Books | LibraryApp</title>

    <head th:replace="fragments/general :: css"></head>

</head>

<body>

    <div th:replace="fragments/user :: header"></div>

    <div class="container-fluid">
        <div class="row">

            <!-- <div th:replace="fragments/user :: sidebar"></div> -->

            <main class="col px-lg-5 px-md-3 px-sm-0">
                <h1 class="h2 mt-1">View Books || User</h1>
                <hr>
                <input type="hidden" name="username" id="username" th:value="${username}">
                <div class="row row-cols-md-3 row-cols-lg-4 row-cols-sm-2 g-4 mb-5" id="booksCardRow">

                    <div class="col" th:each="book,loop : ${bookList}">
                        <div class="card h-100" style="max-width: 250px;">
                            <img th:src="'/images/image-'+(${loop.count}%6+1)+'.jpg'" class="card-img-top"
                                alt="read-bokk">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${book.title}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <i class="fas fa-user-tag"></i>
                                    <span th:text="${book.author}"></span>
                                </h6>
                                <p class="card-text" th:text="${book.description}"></p>
                                <div class="d-grid" th:if="${book.available}">
                                    <a type="button" class="btn btn-success fw-bold"
                                        th:href="'/api/v1/read-book?uid='+ ${book.uid}">Read Book
                                        <i class="fas fa-external-link-alt"></i></a>
                                </div>
                                <div class="d-grid" th:unless="${book.available}">
                                    <button type="button" class="btn btn-danger fw-bold"
                                        th:attr="onclick=|requestBookAccess('${book.title}','${book.uid}')|">
                                        <i class="fas fa-eye-slash"></i>
                                        Request Access</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <body th:replace="fragments/general :: js"></body>
    <script>
        function requestBookAccess(title, uid) {
            var username = document.getElementById("username").value
            var request = {};
            request.title = title
            request.bookId = uid
            request.requestedBy = username

            const postRequestOptions = {
                method: 'POST',
                headers: new Headers({ 'content-type': 'application/json' }),
                body: JSON.stringify(request)
            };
            fetch(apiServerUrl + "/user/add-book-request", postRequestOptions)
                .then(response => response.json())
                .then((data) => {
                    showTopSuccessNotificationWithMessageAndAutoReload("Book Acess Requested")
                })
                .catch(() => {
                    showTopErrorNotificationWithMessage("Unable to request access to book. Try again")
                })
        }
    </script>
</body>

</html>