<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Unavilable</title>
    <head th:replace="fragments/general :: css"></head>
</head>

<body class="cs-bg">
    <div class="d-flex justify-content-center align-items-center custom-full-height">
        <!-- Login Form Card | Start -->
        <div class="card" style="width: 30rem;">
            <div class="row g-0">
                <div class="col">
                    <div class="card-body">
                        <div class="text-center position-absolute top-0 start-50 translate-middle">
                            <img src="/images/icon.png" class="w-50" alt="library app logo">
                        </div>
                        <h1 class="card-title text-center mt-5">404</h1>
                        <h3 class="card-subtitle my-2 text-center">Page Not Found</h3>
                        <h6 class="card-subtitle text-muted mt-3 text-center">The page you're looking for does not Exists!</h6>
                        <h6 class="card-subtitle text-muted mt-3 text-center">Go back to Home page to continue using the Application</h6>
                            
                        <hr>
                        <div class="d-grid">
                            <a href="/global/login" class="btn cs-btn-info font-monospace fw-bold text-uppercase">Return to Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form Card | End -->
    </div>

    <body th:replace="fragments/general :: js"></body>
</body>

</html>